*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
}
header .navbar{
    position:fixed;
    width: 100%;
    display: flex;
    padding: 10px;
    background:linear-gradient(135deg,#6a11cb,#2575fc);
}
.navbar .navlogo{
    display: flex;
    width: 50%;
}
.navbar img{
    width: 50px;
    height: 50px;
}
.navbar h2{
    font-size: 25px;
    padding:10px 0px 0px 10px;
    color: white;
}
.navbar .navbt{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
}
.navbar .navbt a{
    font-size: 20px;
    text-decoration: none;
    color: white
}
.navbar .navbt span{
padding: 10px 20px;
background-color: #7A64F6;
border-radius: 8px;
}
main .img-section{
margin-top: 70px;
display: flex;
width: 100%;
height: 800px;
}
main .img-section .img{
    background-image: url("images/What\ Makes\ Flutter\ Better\ Than\ React\ Native.jpeg");
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    height: 800px;
}
main .img-section .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 700px;
    color: white;
    margin-top: 55px;
    margin-left: 80px;
}
main .img-section .content h2{
    font-size: 45px;
    margin-bottom: 50px;
}
main .img-section .content p{
    font-size: 25px;
}
main .img-section .content a{
    width: 16%;
    height: 44px;
    font-size: 20px;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top:50px ;
    text-decoration: none;
    color: black;
}
main .courses .heading{
    margin: 50px 0px 50px 0px;
    text-align: center;
} 
main .courses .heading h4{
    font-size: 25px;
    margin-bottom: 10px;
} 
main .courses .heading p{
    font-size: 20px;
    color: #00000075;
} 

main .courses .course-cards{
width: 100%;
padding: 0px 81px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 50px;
margin-bottom: 50px;
}
main .courses .course-cards .course{
    background-color: #D9D9D9;
    border-radius: 25px;
    width: 300px;
    height: 550px;
}
main .courses .course-cards .course1 img{
width: 300px;
height: 300px;
}
main .courses .course-cards .course2 img{
width: 300px;
height: 300px;
}
main .courses .course-cards .course3 img{
width: 300px;
height: 300px;
}
main .courses .course-cards .course4 img{
width: 300px;
height: 300px;
}
main .courses .course-cards .course5 img{
width: 300px;
height: 300px;
}
main .courses .course-cards .course6 img{
width: 300px;
height: 300px;
}
main .courses .course-cards .course7 img{
width: 300px;
height: 300px;
}
main .courses .course-cards .course8 img{
width: 300px;
height: 300px;
}
main .courses .course-cards .course .content{
text-align: center;
margin: 20px 0px 0px 0px;
line-height: 65px;
font-size: 25px;
}
main .courses .course-cards .course .content a{
text-decoration: none;
color: white;
padding: 10px 20px;
background-color: #144ECA;
border-radius: 15px;
}
main .courses .course-cards .course .content a:hover{
    background-color:skyblue ;
}
main .aboutus{
    width: 100%;
    height: 750px;
    background-color: #251C1C;
}
main .aboutus .content{
    padding: 50px 0px 0px 0px;
    text-align: center;
    color: white;
}
main .aboutus .content p{
font-size: 25px;
}
main .aboutus .content span{
    display:block;
font-size: 40px;
margin: 20px 0px 20px 0px;
}
main .aboutus .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap: 50px;
    margin: 0px 50px;
}
main .aboutus .cards .card{
    margin-top: 100px;
    width: 300px;
    height: 310px;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 50px;
}
main .aboutus .cards .card img{
    width: 50px;
    height: 50px;
    margin: 30px 0px 0px 0px;
}
main .aboutus .cards .card h3{
    margin:20px 0px 20px 0px;
    font-size: 40px;
}
main .aboutus .cards .card span{
    display: block;
    font-size: 25px;
    margin-bottom:20px ;
}
main .aboutus .cards .card p{
    font-size: 20px;
}
main .contactus{
    margin: 50px 0px 0px 50px;
}
main .contactus .headings .logo{
    display: flex;
    margin: 0px 0px 50px 0px;
}
main .contactus .headings .logo img{
    width: 50px;
    height: 50px;
}
main .contactus .headings .logo h2{
    font-size: 25px;
    padding: 10px 0px 0px 10px;
}
main .contactus .headings .o-heading{
    display: flex;
}
main .contactus .headings .o-heading h2{
    margin:0px 0px 0px 200px ;
}
main .contactus .downoption{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
main .contactus .learns-hub-options p{
    margin:5px 0px 0px 10px ;
    font-size: 20px;
}
main .contactus .learns-hub-options img{
    width: 30px;
    height: 30px;
}
main .contactus .learns-hub-options .option{
    margin:50px 0px 0px 0px ;
    display: flex;
}
main .contactus .downoption .quicklink{
    display: flex;
    flex-direction: column;
}
main .contactus .downoption .quicklink a{
    margin: 0px 0px 40px 70px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
main .contactus .downoption .supports{
    display: flex;
    flex-direction: column;
}
main .contactus .downoption .supports a{
    margin: 0px 0px 40px 75px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
main .contactus .socialmedia a img{
    margin: 0px 0px 0px 20px;
    width: 50px;
    height: 50px;

}
footer{
    margin: 50px 0px 0px 0px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #D9D9D9;
}
footer h2{
    margin-top: 40px;
}